@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lora:wght@400;500&family=Open+Sans:wght@800&family=Poppins:wght@200;300;400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins';
}
header{
    margin: 5rem 7.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-list ul{
    display: flex;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
}
.title{
font-size: 1.5rem;
font-weight:700;
}
.banner-title{
    color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
}
.banner-description{
    color: #3A3A3A;
    font-weight: 600;
    width: 50%;
}
.banner-btn{
    border-radius: 41px;
background: #E02C6D;
padding: 0.7rem 1.5rem;
color: #FFFFFF;
border: none;
}
.banner-img{
    background: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-section{
    display: flex;
    align-items: center;
    gap: 9rem;
    margin-top: 3.5rem;
}

.sponsor-section{
    display: flex;
    justify-content: space-evenly;
    margin: 0 10%;
    box-shadow: 1px 2px 3px lightgray;
    padding: 3rem;
}
.checked {
    color: orange;
  }
  .product{
    height: 30rem;
    width: 20rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px lightgray;
    border-radius: 5px;
  }
.product img{
    width: 100%;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 20%;
}
.product-section-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}








@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    header{
        margin: 1rem;
    }
    .banner-section{
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-description{
        width: auto;
    }
    .nav-list a{
        margin-left: 0px;
        padding-right: 0.5rem;

    }
    .nav-list ul{
     text-align: center;
     justify-content: space-between;

    }
    .banner-img img{
        width: 16rem;
    }
    .title{
        text-align: center;
    }
    .sponsor-section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: auto;
        padding:0;
        align-items: center;
        box-shadow:none;
    }
    .sponsor-section img{
        width: 50px;
    }
    .sponsor{
        margin: 1rem 0px 0px 2.5rem;
    }
    .product-list{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 10%;
        align-items: center;
    }
}